<!--The content below is only a placeholder and can be replaced.-->
<app-users *ngIf="page == 0" (navNum)="onNavClick($event)" (navObj)="setObj($event)"></app-users>
<app-dogs *ngIf="page == 1" (navNum)="onNavClick($event)" (navObj)="setObj($event)" ></app-dogs>
<app-user *ngIf="page == 2" (navNum)="onNavClick($event)" (navObj)="setObj($event)" [user] = "obj"></app-user>
<app-dog *ngIf="page == 3" (navNum)="onNavClick($event)" (navObj)="setObj($event)" [dog] = "obj"></app-dog>
<!-- <router-outlet *ngIf="page == 4" (navNum)="onNavClick($event)"></router-outlet> -->
